<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Authentication</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    
    <header>
      <nav class="nav">

    
        <ul class="navList">
          <li><a href="/home">Home</a></li>
          <li><a href="/"></a></li>
        </ul>
      </nav>
    </header>
    <h1>Authentication</h1>
    <%- body %>
  </body>
</html>
